!!!
%html
  %head
    %title Hackstrap
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "handlebars-1.0.0.beta.6.js"
    = csrf_meta_tags
  %body
    .container
      .row
        .span12
          %h1.festival
            Puzzle Festival
      .row
        .span8
          = yield
        .span4
          = render 'puzzles/twitter'

