= form_for(@puzzle) do |f|
  %p
    = f.label :name
    %br
    = f.text_field :name

  %p
    = f.label :content
    %br
    = f.text_area :content

  - if @puzzle.errors.any?

    #error_explanation
      %h2
        = pluralize(@puzzle.errors.count, "error")
        prohibited this puzzle from being saved:
      %ul
        - @puzzle.errors.full_messages.each do |msg|
          %li= msg
  .actions
    = f.submit