.actions
  - if current_user.admin?
    = link_to 'New Puzzle', new_puzzle_path, :class => 'btn btn-primary'

%ul.breadcrumb
  %li
    %a{:href => "/"} Home
    %span.divider /
  %li.active
    %a{:href => "/puzzles"} Puzzles

.puzzles
  - @puzzles.each_with_index do |puzzle, index|
    %h3.puzzle
      - if current_user.admin?
        = link_to 'Edit', edit_puzzle_path(puzzle), :class => 'btn'
      = (index + 1).to_s + '. '
      - guessed_class = current_user.guessed?(puzzle) ? "done" : ''
      = link_to puzzle.name, puzzle, :class => "puzzle #{guessed_class}"

