
- @puzzles.each_with_index do |puzzle, index|
  %h3.puzzle
    = (index + 1).to_s + '. '
    = link_to puzzle.name, puzzle, :class => 'puzzle'
    - if current_user.admin?
      = link_to 'Edit', edit_puzzle_path(puzzle)
      = link_to 'Destroy', puzzle, confirm: 'Are you sure?', method: :delete

- if current_user.admin?
  %br
  = link_to 'New Puzzle', new_puzzle_path