%ul.breadcrumb
  %li
    %a{:href => "/"} Home
    %span.divider /
  %li
    %a{:href => "/puzzles"} Puzzles
    %span.divider /
  %li.active
    %a{:href => "/puzzles/#{@puzzle.id}"}= @puzzle.name

- if flash[:notice]
  .alert.alert-success
    = flash[:notice]

- if flash[:error]
  .alert.alert-error
    = flash[:error]

.puzzle
  %h1= @puzzle.name
  - if @puzzle.user
    .author
      Submitted by
      %b
        = @puzzle.user.username
  .content= markdown @puzzle.content
  - if current_user.admin?
    = link_to 'Edit', edit_puzzle_path(@puzzle), :class => 'btn'
    = link_to 'Destroy', @puzzle, confirm: 'Are you sure?', method: :delete, :class => 'btn'

  .answer
    - if current_user.guessed?(@puzzle)
      .hero-unit
        %h1
          %span.green &#10003; 
          You got it!
        %p 
          You gave a correct answer after
          - count = current_user.guess_count_for_puzzle(@puzzle)
          = count
          = count == 1 ? "guess" : "guesses"
    - else

      = form_tag("/puzzles/#{@puzzle.id}/take_a_guess", :method => :put) do
        %h3
          Enter your answer here:
        - if (count = current_user.guess_count_for_puzzle(@puzzle)) > 0
          %p
            You have tried
            = count
            times so far.
        = text_area_tag :guess

        = submit_tag "Submit answer", :class => 'btn btn-primary'
