%h3
  = @puzzle.content

= form_for(@puzzle, :url => "/puzzles/#{@puzzle.id}/take_a_guess") do |f|
  %p
    = f.label :guess
    %br
    = f.text_area :guess

  = f.submit




= link_to  'Back', puzzles_path

- if current_user.admin?
  = link_to 'Edit', edit_puzzle_path(@puzzle)


